@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	3.1 - Main Menu
	3.2 - Sub Menu
	3.3 - Footer Menu
3.0 - Content
	3.1 - Site Structure
	3.2 - Section Name
	3.3 - Section Name
4.0 - Media
5.0 - Utility
	5.1 - Background Colors
	5.2 - Text Colors
	5.3 - Text Sizes
	5.4 - Alignments
--------------------------------------------------------------*/

/* ==========
1.0 - Typography
========== */
span {
	display: none;
}

header p, #bg-intro p, #packages .row:first-child p, #about .col-3-4 {
	font-family: 'Josefin Sans', sans-serif;
}

#packages .row:nth-child(2), #packages .row:last-child, #about ul li, #about .col-1-3 p {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	letter-spacing: .05rem;
}

b {
	font-weight: 900;
}

#bg-intro div p {
	font-size: 1.75rem;
	font-weight: 200;
	line-height: 2.25rem;
}

#about .col-3-4:first-child {
	font-weight: 700;
	line-height: 3rem;
}

#packages p, #about p a, footer p a, #contact form label,  #contact form p a, #cta p, #about .col-1-3:first-child ul li, #about .col-1-3:first-child p, #about .col-1-3:nth-child(2) p, #about .col-2-3 ul, #about form label {
	font-size: 1.25rem;
	line-height: 2rem;
	font-weight: 300;
}

#article p a, #about .col-3-4:first-child, nav li, header .col-3-4 {
	font-size: 2rem;
}

.fa-facebook-f, .fa-twitter {
	font-size: 2.5rem;
}

/*----- 1.1 - Headings -----*/
h2 {
	font-size: 3rem;
}

h2, label, footer, p a, nav, #cta p {
	font-family: 'Amatic SC', cursive;
}

header .float-none:last-of-type p a:hover, #cta p:hover  {
	text-decoration: underline;
}

header .col-3-4 {
	line-height: 3.5rem;
	font-weight: 400;
}

header .col-3-4, #packages p a {
	text-transform: uppercase;
}

/*----- 1.3 - Buttons -----*/
#packages p a, #about p a, #contact form p a {
	padding: .5rem 5rem;
}

#cta  {
	padding: 1.75rem 0;
	margin-top: 15rem;
}

/*----- 1.4 - Forms -----*/
#contact form input, #about form input {
	padding: .75rem;
}

#about form input {
	width: 50%;
}

#contact form input, #about form input {
	border: .15rem solid #6cc4c9;
}

/*----- 1.5 - Lists -----*/
#about .col-1-3:first-child ul:first-of-type li:before {
	content: "-";
}

#about .col-1-3:first-child ul:first-of-type  {
	list-style-type: none;
	padding: 0;
}

ul li a, a {
	text-decoration: none;
}

nav li {
	font-weight: bold;
}

nav ul li a:hover, #article p a:hover, footer p a:hover {
	border-bottom: .15rem solid #f2f2e2;
}


/* ==========
4.0 - Media
========== */
.row:nth-child(2) .col-1-2:first-child .circle:first-child {
	background: url("../img/one-day-pk.jpg") 0 0 no-repeat;
}

.row:nth-child(2) .col-1-2:last-of-type .circle:last-of-type {
	background: url("../img/two-day-pk.jpg") 0 0 no-repeat;
}

.row:nth-child(3) .col-1-2:first-child .circle:first-child {
	background: url("../img/three-day-pk.jpg") 0 0 no-repeat;
}

.row:nth-child(3) .col-1-2:last-of-type .circle:last-of-type {
	background: url("../img/four-day-pk.jpg") 0 0 no-repeat;
}

#map {
	height: 25rem;
}

/* ==========
5.0 - Utility
========== */
.circle {
  height: 345px;
  width: 345px;
  border-radius: 50%;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.float-none {
	float: none;
}

/*----- 5.1 - Background Colors -----*/
body > header {
	background: url("../img/bg-header.png") 0 0 no-repeat;
	height: 50rem;
}

#bg-intro {
	background: url("../img/bg-intro.png") 0 0 no-repeat;
	height: 40rem;
}

#article {
	background: url("../img/bg-article.jpg") 0 0 no-repeat;
	height: 8rem;
}

nav, #cta {
	background-color: rgba(0,0,0,0.50)
}

#cta:hover {
	background-color: rgba(255,255,255,0.50)
}

#bg-intro .wrapper , #packages p a, #about p a, footer, #contact form p a  {
	background-color: #6cc4c9;
}

#packages p a:hover, #about p a:hover, #contact form p a:hover {
	background-color: #f2f2e2;
}

/*----- 5.2 - Text Colors -----*/
ul li a, header .col-3-4, #bg-intro p, #article p a, #packages p a, #about p a, footer p a, #contact form p a, header .float-none:last-of-type p a, #cta p {
	color: #f2f2e2;
}

h2, #packages p a:hover, #about p a:hover, #contact form label,  #contact form p a:hover, #about form label {
	color: #6cc4c9;
}

header .float-none:last-of-type p a:hover, #about .col-3-4, #packages p, #about p, #about li, #cta p:hover, .fab:hover  {
	color: #4d4d4d;
}


/*----- 5.4 - Alignments -----*/

#packages .row:first-child img {
	height: 33rem;
}

#packages .row:nth-child(2) p, #packages .row:nth-child(3) p {
	margin: 0 2rem;
}

#packages .row:nth-child(2) p {
	margin-bottom: 3rem;
}

#packages .row:last-of-type .col-1-2:first-child p:last-of-type {
    margin-top: 1.3rem;
}

#about .col-1-4 img:first-of-type {
	height: 10rem;
}

#about .row:last-of-type .col-1-3:first-child img {
	height: 18rem;
}

#about .col-3-4 {
	margin-left: 5rem;
}

nav ul {
	text-align: right;
}

#packages .row:first-of-type p, #packages .row:first-of-type h2 {
	text-align: left;
}

#about .col-1-3:first-child ul:first-of-type li, header ul li, footer ul li  {
	list-style: none;
}

header p, header .col-1-4:first-child, #about .col-1-3:first-child p, #about .col-1-3:nth-child(2) p, #about .col-1-3:first-child ul:first-of-type, footer ul {
	margin: 0;
}

#about div.row  {
	margin-bottom: 6rem;
}

#about .col-3-4, #map, #contact form input {
	width: 100%;
}

#about .col-3-4 p {
	margin: 0px 11rem;
}

#packages .row:nth-child(2), #packages .row:last-child {
	padding: 0 2rem;
}

nav ul {
	padding: 1.25rem 6.5rem 0 0;
}

#packages .circle, #bg-intro div, #article .col-1-2, #about .col-3-4:first-child, #about form {
	margin: 0 auto;
}

header .col-3-4:last-of-type  {
	margin: 9rem auto;
}

header div:last-of-type .float-right:last-of-type, header .col-3-4 {
	margin-top: 10rem;
}

#article p {
	margin-top: 1.75rem;
}

#packages .row:last-of-type .col-1-2:last-child p:first-of-type {
	margin-top: 1.9rem;
}

#packages .row:last-of-type .col-1-2:last-child p:last-of-type {
	margin-top: 3.3rem;
}

#packages .row:first-of-type h2 {
	margin-top: 0;
}

#packages .row:first-of-type .col-1-2:first-child {
	padding: 0 5rem;
}

#packages .row:nth-child(3) h2 {
	padding: 0 3rem;
}

#packages .row:nth-child(2) h2 {
	padding: 0 5rem;
}

#bg-intro {
	padding-top: 9rem;
}

#bg-intro div p {
	padding: 6rem 5rem;
}

#contact label:nth-child(3), #contact .col-1-2:first-child label:last-of-type {
	margin-top: 3rem;
}

#contact form p {
	margin-top: 5.5rem;
}

#about .col-3-4:first-child {
	padding: 0 5rem 6rem 5rem;
}

nav li, footer ul li, #about form p  {
	display: inline-block;
}

#contact form label, #about form label {
	display: block;
}

#article, footer {
	padding-top: 1.25rem;
}

h1 {
	width: 10%;
	margin-left: 6.5rem;
}

#packages p, #packages h2, header .col-3-4, #bg-intro div, footer .col-1-3:nth-child(2), #article .col-1-2, #about .col-3-4:first-child, #about form, #cta p, #article p  {
	text-align: center;
}
 
nav li:nth-child(2), nav li:nth-child(3), nav li:last-child {
	margin-left: 8rem;
} 

#packages, #about, #contact {
	margin: 8rem auto;
}

#packages .row:nth-child(2), #packages .row:last-child {
	margin-top: 6rem;
}

footer ul li, footer .col-1-3:first-child {
	margin-top: 3rem;
}

footer ul li:first-child {
	margin-right: 5rem;
}

#about form label {
	margin-right: 28rem;
}

#about form input {
	margin-right: -9rem;
}

@media screen and (max-width:480px) {
	
	.wrapper {
		width: 100%;
	}
	/* ==========
1.0 - Typography
========== */
	header .col-3-4, #about .col-3-4 p {
		font-size: 1.75rem;
		line-height: 2.75rem;
	}
	
	#packages p, #about .col-1-3:first-child ul li, #about .col-1-3:first-child p, #about .col-1-3:nth-child(2) p, #about .col-2-3 ul, #about form label {
	font-size: 1rem;
	}
	
	h2, #packages .col-1-2 h2:first-of-type, #about .col-1-3, #contact form label, #about form label, footer .col-1-3, nav .col-2-3 ul  {
		text-align: center;
	}
	
	#article p a {
		font-size: 1.5rem;
	}
	
	#cta p, #packages p a, #contact form label {
		font-size: 2rem;
	}
	
/*----- 1.3 - Buttons -----*/
	#cta  {
	margin-top: 10.5rem;
	padding: 3rem 0;
}
	
	#packages p a, #contact form p a {
	padding: 1.5rem 5rem;
}

	
/*----- 1.4 - Forms -----*/

	
	/* ==========
5.0 - Utility
========== */
	header .col-1-4:first-of-type, #packages .row .col-1-2, #about .col-1-2, #about .col-1-3, #about .col-2-3, #about .col-3-4, #contact form, footer .col-1-3, header nav .col-2-3, header .col-3-4, #bg-intro .wrapper div, #bg-intro .wrapper, #about .col-3-4 p, #contact form .col-1-2, #about .col-1-4, #packages .row:first-child img, #about img, .full-width  {
		width: 100%;
	}
	
	#about .col-3-4 input, #about .col-3-4 p {
		width: 90%;
	}
	
	header nav ul {
		display: block;
	}
	
	footer .float-right {
		float: none;
	}
	
	#packages .row:first-of-type .col-1-2:first-child p:nth-child(3), #packages .row:nth-child(2) p:nth-child(3), #packages .row:last-of-type p:nth-child(3) {
		margin-bottom: 3rem;
	}
	
	header nav ul, #article p a, #about .col-3-4:first-child, footer p a, footer .col-1-3:last-child ul, nav .col-2-3 ul li, #packages .row:first-of-type .col-1-2:first-child, #packages .col-1-2, footer .col-1-3, #contact .col-1-2, #about .col-1-3, #packages .row:nth-child(2), #packages .row:last-child {
		padding: 0;
	}
	
	#about form label, #packages p:first-child a, #about ul, footer p, #about .col-3-4 p, #about form input, #about .col-3-4, #packages .row:nth-child(2) p, #packages .row:nth-child(3) p  {
		margin: 0;
	}
	
	.full-width {
		display: block;
		text-align: center;
	}
	
	.full-width {
		padding: 1rem 0;
	}
	
	#packages .row p, #about p, #contact p, .full-width {
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
	
	#contact .col-1-2 {
		padding: 0;
	}
	
	nav .col-2-3 ul li:nth-child(2), nav .col-2-3 ul li:nth-child(3), 	nav .col-2-3 ul li:last-child {
		margin-left: 2.5rem;
	}
	
	#bg-intro .wrapper div p{
		padding: 8rem .5rem;
	}
	
	header h1 a img  {
		margin-left: 7.5rem;
	}
	
	#packages .row:first-child p:first-of-type, #packages .row:first-child p:nth-child(3), #about .col-1-3 p:last-of-type {
		margin: 0 1rem;
	}

	#about .col-3-4:first-child, #about .col-1-3 {
		margin-bottom: 5rem;
	}
	
	#packages .row section:first-child {
		margin-bottom: 2rem;
	}
	
	#about .col-3-4 p {
		margin-left: 1.5rem;
	}
	
	#packages .row:nth-child(3) .col-1-2:last-child, #packages .row:nth-child(2) .col-1-2:last-child {
		margin-top: 9rem;
	}
	
	header .col-3-4:last-of-type  {
		margin: 3rem auto;
	}
	
	#bg-intro {
	padding-top: .5rem;
}
	
	#packages .row:nth-child(2) h2 {
	padding: 0 4rem;
}
	#article {
		height: 10.5rem;
	}
	
	#map {
		height: 13rem;
	}
	
	#about .row:last-of-type .col-1-3:first-child img, #about .col-1-4 img:first-of-type {
	height: 25rem;
}
	

	
	/*----- 5.1 - Background Colors -----*/
#bg-intro {
	background: url("../img/bg-intro.png") 0 0 no-repeat;
	height: 33rem;
}
	
}






